@model IEnumerable<FutureReady.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New User</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>DisplayName</th>
            <th>Email</th>
            <th>IsActive</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.DisplayName</td>
            <td>@user.Email</td>
            <td>@user.IsActive</td>
            <td>
                <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@user.Id">Details</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

